<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Announcement</title>
    <link rel="stylesheet" href="/css/createannouncement-style.css">
    
</head>

<body>
    <div class="container">
        <h2 class="title">Create New Announcement</h2>
        <form class="announcement-form" id="announcementForm">

            <input type="hidden" value="" name="ownerDetails" id="userId">

            <label for="title">Title:</label>
            <input type="text" id="title" name="title" class="input-field" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" class="input-field" required></textarea>

            <label for="price">Price:</label>
            <input type="number" id="price" name="price" class="input-field" required>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location" class="input-field" required>

            <label for="category">Category:</label>
            <input type="text" id="category" name="category" class="input-field" required>

            <button type="submit" class="create-button">Create Announcement</button>
        </form>
    </div>
    <script>

        const userId = document.querySelector("#userId");

        let user = localStorage.getItem("user");
        if (user) {
            user = JSON.parse(user);
            userId.value = user.id;

        }
        // JavaScript code to handle form submission
        const announcementForm = document.getElementById('announcementForm');

        announcementForm.addEventListener('submit', async (event) => {
            event.preventDefault();

            // const formData = new FormData(announcementForm);
            const ann = {

            };
            const fieldsRegular = Array.prototype.slice.call(announcementForm.querySelectorAll('input[type|="text"], input[type|="number"], input[type|="hidden"]'));
            const textAreaFields = Array.prototype.slice.call(announcementForm.querySelectorAll('textarea'))
            
            const fields = fieldsRegular.concat(textAreaFields);

            for(const field of fields){
                ann[field.getAttribute('name')] = field.value;
            }
            console.log('ann: ', ann);
          
            const response = await fetch('/api/announcements/new', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(ann)
            });

            if (response.ok) {
                //announcement.owner
                const newAnnouncement = await response.json();
                console.log('New announcement created:', newAnnouncement);
                // You can perform any necessary actions after successful submission
                window.location.href = `/`;

            } else {
                const errorData = await response.json();
                console.error('Error creating announcement:', errorData.message);
                // Handle the error, show an error message, etc.
            }
        });
    </script>
</body>

</html>