<!-- favorites.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
<title>Your favorites</title>
<link rel="stylesheet" href="/css/favorites-style.css">
</head>
<body>
    <header>
        <a href="/" id="go-back-button">&lt; Go back</a>
    </header>
    <h1>Your Favorite Announcements</h1>
    <ul id="favoriteAnnouncements">
        <% favoriteAnnouncements.forEach((announcement) => { %>
            <li>
                <h2><%= announcement.title %></h2>
                <p><%= announcement.description %></p>
                <!-- Add other announcement details as needed -->
            </li>
        <% }); %>
    </ul>
</body>
</html>
