<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="stylesheet" href="/css/user-announcements-style.css">
    <link rel="stylesheet" href="/css/card-style.css">
    
</head>

<body>
    <header>
        <a href="/" id="go-back-button">&lt; Go back</a>
    </header>
    <main>
        <% 
            
            for(const ua of announcementsPage){
                %>
                <div class="announcement-card">
                    <h2><%= ua.title %></h2>
                    <p><%= ua.description %></p>
                    <p>
                    Price: <%= ua.price %>
                    </p>
                    <p>
                        Location: <%= ua.location %>
                    </p>
                </div>
                <%
            }    
        %>
    </main>
    <footer>
        Powered by Balascan Gabriel
    </footer>
    <script>
    </script>
</body>

</html>